

/****************
	Global setting
***************/
* {
	box-sizing: border-box;
}

html, body{
	min-width: 415px;	
}

a{
	text-decoration:none;
	color: #000;
}

a:hover{
	text-decoration: none;
	color:#000;
}

ul{
	 list-style-type: none;
	 width: 100%;
	 padding: 0;
}

span{
	color: #009688;;
}

nav{
	font-size: 20px;
}

.active{
	background-color: #cccccc;
}

.row{
	margin:0 15px;	
}

.date{
	font-size: 0.9rem;
	color: #009688;
}

.loading{
	height: 100vh;
	width: 100%;
	background-color: #eaebed;
	z-index: 9999999;
}

/*.noScroll{
	overflow: hidden;
	height: 100%;
}*/

/****************
	Sidebar setting
***************/

.sidebar {
	background: #fff;
	width: 100%;
	margin-top: 15px;	
	box-shadow: 0 0 10px grey;		   
	overflow-y: auto;	
}

.sidebar img {
	width: 50%;
}

.sidebar ul li span{
	font-size: 16px;
}

.sidebar ul li:hover{
 	text-decoration:none;
 	background-color: #cccccc;
}
.sidebar a{
	width: 80%;
}
/****************
	Content setting
***************/
.content{
	font-size: 18px;
	background: #fff;
	margin-top: 15px;	
}

#about, #projects, #experience, #eduction{
	box-shadow: 0 0 10px grey;
}

.subtitle span{
	font-size: 1.5rem;
}

.col{
	padding: 0;
}

.icon-cal{
	font-size: 0.8rem;
}
/****************
	Project section setting
***************/
.img-card{
	position: relative;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-card .img-fluid{
	height: 40%;
	width: 100%;
}

.img-info{
	font-size: 0.9rem;
	position: absolute;  
	top: 45%;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	visibility: hidden;
	opacity: 0;
	margin-bottom: 0;
	transition: all 0.5s ease-in-out 0.2s;
	transform: translateY(100%);
}

.img-card:hover .img-info{

	visibility: visible;
    opacity: 1;
    transform: translateY(0);  
}

.img-card:hover{
	cursor: pointer;
}

#projects h4 a{
	color: #009688;
}

#projects h4 a:hover{
	cursor: pointer;
	opacity: 0.6;
	
}

/****************
	Eduction section setting
***************/
#eduction p{
	font-weight: 500;
}







/****************
	footer section setting
***************/
.twitter{
	background-image: url(imges/twitter.svg);
}
.linkedin{
	background-image: url(imges/linkedin.svg);
}
.github{
	background-image: url(imges/github.svg);
}

/****************
	Modal section setting
***************/
.modal img{
	width: 60%;	
}
.modal .badge{
	font-size: 1rem;
}
.modal a{
	transition: all 200ms ease-out;
}
.modal a:hover{
	color: white;
	background-color: #17a2b8;    
}

/****************
	social section setting
***************/

#social .nav a{
  display: inline-block;
  width: 30px;
  height: 30px;
  opacity: 0.4; 
  transition: all .5s;
}
#social .nav a:hover{
	opacity: 1;
	cursor: pointer;
}





@media (min-width: 768px) {
	.sidebar{
		position: fixed;
		width: 300px;
		height: 95vh;
	}

	.sidebar img{
		width: 100%;
		margin: 0!important;
		border-radius:0 !important ;
	}

	.content{
		margin-left: 320px;
	}

	#navbarSupportedContent{
		text-align: left !important;
	}


}