* {
	box-sizing: border-box;
}
a{
	text-decoration:none;

}
a:hover{
 	text-decoration:none;
}
html, body{
	min-width: 415px;	
}
body{
	display: none;
}
nav{
	font-size: 20px;
}

.navbar-brand{
	font-size: 30px;
}
.lead{
	/*display: none;*/
	font-size: 30px;
	text-shadow: 2px 2px 4px #000000;
}
.about-card{
	font-size: 1.2rem;
}

.contact{
	font-size: 20px;
}
.jumbotron{
	background-image: url("imges/jumbo-bg.jpg");
	-webkit-background-size: cover;
	background-size: cover;

}
.jumbotron img{
	width: 150px;
	height: 150px;
	transition: all 0.3s ease-out 0s;
}
.jumbotron img:hover{	
	transform: scale(1.2);
}


.img-card{
	position: relative;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-card .img-fluid{
	height: 40%;
	width: 100%;
}
.img-info{
	font-size: 1rem;
	position: absolute;  
	top: 45%;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	visibility: hidden;
	opacity: 0;
	margin-bottom: 0;
	transition: all 0.5s ease-in-out 0.2s;
	transform: translateY(100%);
}
.img-card:hover .img-info{

	visibility: visible;
    opacity: 1;
    transform: translateY(0);  
}
.img-card:hover{
	cursor: pointer;
}

.row .container h4 a:hover{
	cursor: pointer;
}



.container .nav a{
  display: inline-block;
  width: 30px;
  height: 30px;
  opacity: 0.4; 
  transition: all .5s;
}
.container .nav a:hover{
	opacity: 1;
	cursor: pointer;
}
.twitter{
	background-image: url(imges/twitter.svg);
}
.linkedin{
	background-image: url(imges/linkedin.svg);
}
.github{
	background-image: url(imges/github.svg);
}


.modal img{
	width: 60%;	
}
.modal .badge{
	font-size: 1rem;
}
.modal a{
	transition: all 200ms ease-out;
}
.modal a:hover{
	color: white;
	background-color: #17a2b8;    
}
.loading{
	height: 100vh;
	width: 100%;
	background-color: #eaebed;
	z-index: 9999999;
}
.noScroll{
	overflow: hidden;
	height: 100%;
}